{
	email {$ACME_EMAIL}
}

{$FRONTEND_DOMAIN} {
	reverse_proxy frontend:80
}

{$API_DOMAIN} {
	reverse_proxy backend:3333
}

{$N8N_DOMAIN} {
	reverse_proxy n8n:5678
}

{$EVOLUTION_DOMAIN} {
	reverse_proxy evolution-api:8080
}

{$EVOLUTION_MANAGER_DOMAIN} {
	reverse_proxy evolution-manager:80
}
